export("ETCiwd")
export("plot.pi")

import(sp)
import(gstat)
import(raster)

importFrom("sp","spplot","coordinates","bbox","gridded","merge")
importFrom("gstat","idw")
importFrom("raster","raster","extract")